/* Page Load */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 7vh;
  right: 100%;
  width: 100%;
  height: 1px;
}

/* Main */

* {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
}

#TopBtn {
	display: none;
	position: fixed;
	bottom: 2vh;
	right: 2vh;
	z-index: 99;
	border: none;
	outline: none;
	background-color: rgba(220,220,220,1);
	color: black;
	cursor: pointer;
	padding-left: 1.5vh;
	padding-right: 1.5vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	border-radius: 1vh;
	font-size: 2.5vh;
	transition: background-color 0.5s ease, margin-bottom 0.5s ease;
}

#TopBtn:hover {
	background-color: rgba(200,200,200,1);
	transition: background-color 0.5s ease, margin-bottom 0.5s ease;
}

.link {
	color: black;
	text-decoration: none;
}

.link:hover {
	color: black;
	text-decoration: none;
}

.hidden {
	display: none;
}

/* Header */

.header-container {
	height: 7vh;
	width: 100vw;
	background-color: white;
	border-bottom: 1px solid #DCDCDC;
	position: fixed;
	top: 0;
	z-index: 2;
}

.header-logo {
	height: 6vh;
	padding-top: .5vh;
	padding-left: 2vw;
}

ul {
	list-style-type: none;
	position: absolute;
	top: 0vh;
	right: 2vw;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	font-size: 2vh;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: calc(2vh - 1.5px);
	padding-left: .75vw;
	padding-right: .75vw;
}

li a:hover {
	color: #1E90FF;
	text-decoration: none;
}

.header-title {
	position: absolute;
	top: .5vh;
	left: calc(2vw + 8vh);
	font-size: 4vh;
	color: black;
}

.header-dropdown {
	position: fixed;
	top: 7vh;
	left: 0;
	width: 100vw;
	height: 15vh;
	background-color: #f4f4f4;
	display: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#services:hover {
	cursor: pointer;
}

#services:hover + .header-dropdown {
	display: block;
}

#services:hover #services_hidden {
	display: inline;
}

#services:hover #service_not_hidden {
	display: none;
}

.header-dropdown:hover {
	display: block;
}

#services_hidden {
	display: none;
}

.plates-option {
	width: 25vw;
	height: 98%;
	margin-top: 1vh;
	top: 0;
	left: 0;
}

.generator-option {
	width: 25vw;
	height: 13vh;
	margin-top: 1vh;
	position: absolute;
	top: 0;
	left: 25vw;
}

.cables-option {
	width: 25vw;
	height: 13vh;
	margin-top: 1vh;
	position: absolute;
	top: 0;
	left: 50vw;
}

.materials-option {
	width: 25vw;
	height: 13vh;
	margin-top: 1vh;
	position: absolute;
	top: 0;
	left: 75vw;
}

.roof-text {
	font-size: 3vh;
}

.roof-image {
	font-size: 6vh;
}

.choose-link {
	color: black;
	text-decoration: none;
	transition: color ease .3s;
}

.choose-link:hover {
	text-decoration: none;
	color: rgba(100,100,100,255);
	transition: color ease .3s;
}

/* Home */

.home-container {
	height: 167vh;
}

.home-header {
	width: 80vw;
	height: 25vh;
	margin-left: 10vw;
	margin-top: 14vh;
	background-color: grey;
	background-image: url("https://i.imgur.com/UbqzO5F.jpg");
	background-size: cover;
	background-position-y: 25%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-navbar {
	position: relative;
	width: 80vw;
	height: 25vh;
	margin-left: 10vw;
	margin-top: 5vh;
	background-color: #f4f4f4;
	background-size: cover;
	background-position-y: 25%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-nav-button-one {
	position: absolute;
	top: 1vh;
	margin-left: .5vw;
	height: 23vh;
	width: 19vw;
	background-color: #C0C0C0;
	background-image: url("https://i.imgur.com/lZNYrUJ.jpg");
	background-size: cover;
}

.home-nav-button-one:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-nav-button-two {
	position: absolute;
	top: 1vh;
	margin-left: 20.5vw;
	height: 23vh;
	width: 19vw;
	background-color: #C0C0C0;
	background-image: url("https://i.imgur.com/ub4S9fP.jpg");
	background-size: cover;
}

.home-nav-button-two:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-nav-button-three {
	position: absolute;
	top: 1vh;
	margin-left: 40.5vw;
	height: 23vh;
	width: 19vw;
	background-color: #C0C0C0;
	background-image: url("https://i.imgur.com/Hgl54am.jpg");
	background-size: cover;
}

.home-nav-button-three:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-nav-button-four {
	position: absolute;
	top: 1vh;
	right: .5vw;
	height: 23vh;
	width: 19vw;
	background-color: #C0C0C0;
	background-image: url("https://i.imgur.com/4wJgPiP.jpg");
	background-size: cover;
}

.home-nav-button-four:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-view-button {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	width: 100%;
	padding-top: 1vh;
	padding-bottom: 1vh;
	text-align: center;
	font-weight: 500;
	color: orange;
	background-color: rgba(0,0,0,.75);
	font-size: 2vh;
}

.home-ad-part-one {
	width: 39vw;
	margin-left: 10vw;
	margin-top: 5vh;
	height: 20vh;
	background-color: #f4f4f4;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-ad-part-two {
	width: 39vw;
	margin-left: 51vw;
	margin-top: -20vh;
	height: 20vh;
	background-color: #f4f4f4;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-ad-part-three {
	width: 39vw;
	margin-left: 10vw;
	margin-top: 5vh;
	height: 20vh;
	background-color: #f4f4f4;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-ad-part-four {
	width: 39vw;
	margin-left: 51vw;
	margin-top: -20vh;
	height: 20vh;
	background-color: #f4f4f4;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-ad-img {
	margin: 0;
	font-size: 14vh;
	padding-left: 2vh;
}

.home-ad-title {
	color: black;
	font-size: 2vh;
	padding-top: 1vh;
	padding-left: 20vh;
	margin: 0;
	margin-top: -17vh;
}

.home-ad-desc {
	color: black;
	font-size: 2vh;
	margin: 0;
	padding-left: 20vh;
}

.home-bottom-ad-one {
	position: relative;
	width: 26vw;
	height: 50vh;
	margin-left: 10vw;
	margin-top: 5vh;
	background-image: url('https://i.imgur.com/r4YAebA.jpg');
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-bottom-ad-two {
	position: relative;
	width: 26vw;
	height: 50vh;
	margin-left: calc(50vw - 26vw / 2);
	margin-top: -50vh;
	background-image: url('https://i.imgur.com/p8oMMTg.jpg');
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-bottom-ad-three {
	position: relative;
	width: 26vw;
	height: 50vh;
	margin-left: calc(90vw - 26vw);
	margin-top: -50vh;
	background-image: url('https://i.imgur.com/QbbowGa.jpg');
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-bottom-ad-text {
	color: orange;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	background-color: rgba(0,0,0,.75);
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	font-size: 2vh;
	font-weight: 500;
}

.home-bottom-button {
	color: orange;
	font-weight: 500;
	text-decoration: none;
	border: 1px solid orange;
	border-radius: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	transition: background-color ease .3s;
}

.home-bottom-button:hover {
	background-color: rgb(255,165,0,.2);
	color: orange;
	text-decoration: none;
	transition: background-color ease .3s;
}

.home-br {
	display: block;
    padding-top: 1vh;
}

/* Contact */

.contact-container {
	height: 100vh;
}

.contact-left-container {
	position: relative;
	width: 50vw;
	height: 100%;
	background-color: #1E90FF;
}

.contact-iframe {
	position: absolute;
	top: 45vh;
	left: 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-left-header {
	font-size: 3vh;
	color: white;
	position: absolute;
	top: 10vh;
	margin-left: 5%;
	margin-right: 5%;
	font-weight: 500;
}

.contact-left-subheader {
	font-size: 2vh;
	color: white;
	position: absolute;
	top: 13.5vh;
	margin-left: 5%;
	margin-right: 5%;
}

.contact-left-detail-one {
	position: absolute;
	top: 20vh;
	color: white;
	width: 90%;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-left: 5%;
	font-size: 2vh;
	border-bottom: 1px solid white;
}

.contact-left-detail-two {
	position: absolute;
	top: 26vh;
	color: white;
	width: 90%;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-left: 5%;
	font-size: 2vh;
	border-bottom: 1px solid white;
}

.contact-left-detail-three {
	position: absolute;
	top: 32vh;
	color: white;
	width: 90%;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-left: 5%;
	font-size: 2vh;
	border-bottom: 1px solid white;
}

.contact-link {
	color: white;
	text-decoration: none;
}

.contact-link:hover {
	color: white;
	text-decoration: none;
}

.contact-right-container {
	position: relative;
	width: 50vw;
	height: 100%;
	background-color: white;
	margin-left: 50vw;
	margin-top: -100vh;
}

.contact-form-header {
	color: black;
	font-size: 3vh;
	font-weight: 500;
	margin: 0;
	margin-top: 10vh;
	margin-left: 10%;
	margin-right: 10%;
}

.contact-form {
	margin: 0;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	padding-bottom: 5vh;
}

input[type=text] {
	font-size: 1.5vh;
}

.contact-value {
	font-size: 1.5vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

input[type=text], select, textarea {
  	width: 100%;
  	padding: 1vh;
  	border: 1px solid #ccc;
  	border-radius: .5vh;
  	box-sizing: border-box;
  	margin-top: 1vh;
  	margin-bottom: 1vh;
  	resize: vertical;
}

input[type=submit] {
  	background-color: rgba(230,230,230,1);
  	color: black;
  	font-size: 2vh;
  	padding: 1vh 1vh;
  	border: none;
  	border-radius: .5vh;
  	cursor: pointer;
  	transition: background-color 0.6s ease;
}

input[type=submit]:hover {
 	background-color: rgba(220,220,220,1);
 	transition: background-color 0.6s ease;
}

.container {
  	border-radius: 1vh;
  	background-color: #f2f2f2;
  	padding: 1vh;
  	margin: 0;
}

.contact-title {
	font-size: 2vh;
}

/* Services */

.flat-container {
	height: 100vh;
}

.slanted-container {
	height: 100vh;
}

.service-chooser {
	font-size: 3vh;
	padding-top: 10vh;
	padding-left: 10vw;
	margin: 0;
	user-select: none;
}

.service-choose-link:hover {
	cursor: pointer;
}

.service-header {
	font-size: 3vh;
	font-weight: 500;
	padding-top: 2vh;
	padding-left: 10vw;
	margin: 0;
}

.server-subheader {
	font-size: 2vh;
	padding-top: 2vh;
	padding-left: 10vw;
	margin: 0;
	margin-right: 10vw;
}

.flat-material-one {
	width: 25vw;
	position: absolute;
	left: 10vw;
	margin-top: 10vh;
}

.flat-material-two {
	width: 25vw;
	margin-top: 10vh;
	position: absolute;
	left: 36vw;
}

.flat-material-three {
	width: 25vw;
	margin-top: 10vh;
	position: absolute;
	left: 62vw;
}

.slanted-material-one {
	width: 19vw;
	position: absolute;
	left: 10vw;
	margin-top: 15vh;
}

.slanted-material-two {
	width: 19vw;
	margin-top: 15vh;
	position: absolute;
	left: 30vw;
}

.slanted-material-three {
	width: 19vw;
	margin-top: 15vh;
	position: absolute;
	left: 50vw;
}

.slanted-material-four {
	width: 19vw;
	margin-top: 15vh;
	position: absolute;
	left: 70vw;
}

.material-header {
	text-align: center;
	font-size: 3vh;
	margin: 0;
	font-weight: 500;
}

.material-image {
	padding-top: 5vh;
	width: 100%;
}

.material-button {
	margin-top: 5vh;
	width: 100%;
	height: 5vh;
	background-color: #4b567d;
	text-align: center;
	font-size: 3vh;
	color: white;
}

.material-button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.material-link {
	color: white;
	text-decoration: none;
}

.material-link:hover {
	color: white;
	text-decoration: none;
}

/* Privacy Policy */

.privacy-container {
	min-height: 100vh;
}

.pp-container {
	padding-top: 10vh;
	padding-bottom: 5vh;
	margin-left: 10%;
	margin-right: 10%;
}

/* Footer */

footer {
	position: relative;
	height: 30vh;
	width: 100vw;
	background-color: #0058a3;
}

.footer-header {
	font-size: 4vh;
	color: white;
	font-weight: 500;
	padding-left: 7vw;
	padding-top: 3vh;
}

.footer-general {
	position: absolute;
	left: 25vw;
	top: 5vh;
}

.footer-support {
	position: absolute;
	left: 50vw;
	top: 5vh;
}

.footer-contact {
	position: absolute;
	left: 75vw;
	top: 5vh;
}

.footer-sub-header {
	font-size: 2vh;
	color: white;
	font-weight: 500;
	margin: 0;
	padding-bottom: 1vh;
}

.footer-sub-text {
	font-size: 2vh;
	color: white;
	margin: 0;
}

.footer-blue {
	color: #1E90FF;
}

.footer-blue-other {
	color: #4b567d;
}

.footer-link {
	color: white;
	text-decoration: none;
	transition: color ease .3s;
}

.footer-link:hover {
	color: orange;
	text-decoration: none;
	transition: color ease .3s;
}

.footer-divider {
	position: absolute;
	top: 22vh;
	width: 86%;
	margin-left: 7%;
	border: .5px solid white;
}

.footer-copyright {
	color: white;
	position: absolute;
	top: 25.5vh;
	left: 7vw;
}

.cookie-notice {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 7vh;
	background-color: rgba(0,0,0,.9);
	user-select: none;
	z-index: 9999999;
}

.cookie-text {
	font-size: 1vw;
	padding-top: 2.5vh;
	padding-left: 1vw;
	color: white;
}

.cookie_button {
	font-size: 1vw;
	position: absolute;
	top: 1.5vh;
	right: 1vw;
	color: white;
	border: .2vh solid gold;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	transition: color 0.6s ease, background-color 0.6s ease;
}

.cookie_button:hover {
	color: black;
	background-color: gold;
	cursor: pointer;
	transition: color 0.6s ease, background-color 0.6s ease;
}

.cookie-link {
	color: white;
	text-decoration: none;
}

.cookie-link:hover {
	color: white;
}