---
---
*
  font-family: 'Roboto Condensed', sans-serif

h1, h2, h3, h4, nav
  font-family: 'Oswald', sans-serif

.carousel
  margin-bottom: 1rem

  .carousel-item
    height: 200px
    background-position: 50% 50%
    background-size: cover

    &.hero-large
      height: 80vh

blockquote
  margin-left: 15px
  padding-left: 15px
  border-left: 3px #999 solid
  font-style: italic

.post-meta
  color: #333
  margin-bottom: 20px
